
*{
  box-sizing: border-box;
}

header{
    background-color:rgb(229, 221, 197);
    color:white; 
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 3em; 
    position: fixed; 
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 1;
}

li{
    display:inline-block; 
    width:10%; 
    margin-left: 2%;
    margin-top: 1em;
}

ul {
  margin: 0;
  padding:0;
}

body{
  background-color: rgb(241, 238, 220) ;
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column; 
  min-height: 100vh;       
}

main{
  flex:1;
}

html, body {
  height: 100%;  
  margin: 0;    
}

video {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

section{
  position: relative;
  top: 60px;
}

.texto_encima {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
  font-size:4em;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;

}

.populares {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.populares {
    overflow: hidden;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.experiencias {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
}

.textoimg {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1em;
    color: black;
    padding-top: 10px;
}

.populares div{
    width:20%;
}

footer {
  position: static;
  background-color:rgb(229, 221, 197);
  width: 100%;
  margin: 100px auto;
  border-radius: 20px;
}

footer li {
    display:inline-block; 
    width:20%; 
    margin-left: 10%;
    margin-top: 2em;
    text-align: center;
    font-size: 0.9em;
}

footer div {
  margin-left: 10%;
  margin-bottom: 2em;
  font-size: 0.9em;
}