
*{
  box-sizing: border-box;
}

header{
    background-color:rgb(229, 221, 197);
    color:white; 
    font-size: 15px;
    height: 3em; 
    position: fixed; 
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 1;
}

li{
    display:inline-block; 
    width:10%; 
    margin-left: 2%;
    margin-top: 1em;
}

ul {
  margin: 0;
  padding:0;
}

body{
    background-color: rgb(241, 238, 220) ;
    margin: 0;
}

video {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

section{
    position: relative;
    top: 60px;
}