
*{
  box-sizing: border-box;
}

@font-face {
  font-family: "DownloadedFont";
  src: url("../fonts/Inter-Medium.otf") format("truetype");
}

@font-face {
  font-family: "DownloadedFontGrande";
  src: url("../fonts/Rebeqa-Bold.ttf") format("truetype");
}


header{
    background-color:rgb(229, 221, 197);
    background: transparent;
    backdrop-filter: blur(16px);
    color: black; 
    font-size: 15px;
    font-family: "DownloadedFont";
    height: 3em; 
    position: fixed; 
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 1;
}

li{
    display:inline-block; 
    width:10%; 
    margin-left: 2%;
    margin-top: 1em;
}

li:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

ul {
  margin: 0;
  padding:0;
}

body{
  background-color: rgb(241, 238, 220) ;
  margin: 0;
  font-family: "DownloadedFont";
  min-height: 100vh;
  display: flex;
  flex-direction: column; 
  min-height: 100vh;       
}

main{
  flex:1;
}

html, body {
  height: 100%;  
  margin: 0;    
}

video {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

section{
  position: relative;
  top: 60px;
}

.texto_encima {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
  font-size:7em;
  font-family:"DownloadedFontGrande";
  text-align: center;

}

.titulo2 {
  position:relative;
  font-family:"DownloadedFontGrande";
  margin-left: 2em;
  font-size: 2.5em;
  top:0.75em;
}

.populares {
    display: flex;
    gap: 20px;
    width: 100%;
    overflow: hidden;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.experiencias {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: visible;
    transition: transform 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
}

.experiencias:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.textoimg {
    text-align: center;
    font-family: "DownloadedFont";
    font-size: 0.8em;
    color: black;
    padding-top: 10px;
}

.populares div{
    width:20%;
}

table {
  font-family: "DownloadedFont";
  font-size: 0.8em;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

.tabla_precios {
  text-align: center;
  width: 70%;
  margin: auto;
}

td, th {
  border: 1px solid rgb(229, 221, 197);
  text-align: left;
  padding: 8px;
}

th{
  background-color: rgb(229, 221, 197);
}

th:hover {background-color: rgb(241, 240, 232);}
td:hover {background-color: rgb(241, 240, 232);}

td{
  background-color: white;
}

footer {
  position: static;
  background-color:rgb(229, 221, 197);
  width: 100%;
  margin: 100px auto;
  border-radius: 20px;
  text-align: center;
}

.newsletter{
  margin-bottom: 2em;
  font-size: 0.8em;
}

.caja_grande{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top:0.5em;
}

.footer_cajas{
  display: flex;
  align-items: center;
  width:20%;
  margin-top: 2em;
  text-align: left;
  font-size: 0.8em;
  vertical-align: middle; 
}

.footer_cajas img{
  width:20%;
  display: inline-block;
}
